.sec-1-container h1,
.sec-2-text-container{
    max-width: 450px;
}
.sec-1-container:first-child {
    padding: 150px 0px 100px 0px;
}
.partner-logo-container img{
    width: 60px;
}
.section-3 {
    background-color: rgb(243, 243, 243);
}
.sub-sec-1-container {
    background-color: rgb(243, 243, 243);
}
.testimonial-container {
    max-width: 850px
}
.testimonial-txt{
    color: rgb(125, 125, 125);
    font-weight: 600;
    word-spacing: .7rem;
    max-width: 450px;
}
.font-weight {
    font-size: 2.8rem;
    font-weight: 700;
    color: rgb(58, 58, 58);
}
.dark {
    color: rgb(125, 125, 125);
    font-size: 1.4rem;
}
.btn-transition .btn-img {
    transform: translateX(10px);
    transition: transform 0.2s ease-in-out;
}
.btn-transition:hover .btn-img {
    transform: translateX(20px);
}


.swiper {
    margin: 100px auto;
    width: 820px;
    height: 420px;
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
}

.swiper-slide:nth-child(5n) {
    background-color: rgb(118, 163, 12);
}